@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #fff7fc;
  --card: #ffb5df;
  --border: #f379c6;

  --primary: #f1a6cd;
  --primary-dark: #db2777;
  --primary-soft: #facde7;


  --purple: #a855f7;
  --purple-soft: #9946f1;

  --text: #3b1d35;
  --muted: #9b7a94;
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: var(--text);
  margin: 0;
}